@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Merriweather, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2840 0.0220 262.4967);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2840 0.0220 262.4967);
  --primary: oklch(0.5544 0.0978 184.7375);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9281 0.0042 271.3672);
  --secondary-foreground: oklch(0.3774 0.0189 260.6754);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5551 0.0147 266.6154);
  --accent: oklch(0.9384 0.0207 274.0336);
  --accent-foreground: oklch(0.3774 0.0189 260.6754);
  --destructive: oklch(0.6322 0.1310 21.4751);
  --border: oklch(0.8726 0.0059 264.5296);
  --input: oklch(0.8726 0.0059 264.5296);
  --ring: oklch(0.6378 0.1247 281.2150);
  --chart-1: oklch(0.6378 0.1247 281.2150);
  --chart-2: oklch(0.5608 0.1433 283.1275);
  --chart-3: oklch(0.5008 0.1358 283.9499);
  --chart-4: oklch(0.4372 0.1108 283.4322);
  --chart-5: oklch(0.3928 0.0817 282.8932);
  --sidebar: oklch(0.9674 0.0013 286.3752);
  --sidebar-foreground: oklch(0.2840 0.0220 262.4967);
  --sidebar-primary: oklch(0.6378 0.1247 281.2150);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9384 0.0207 274.0336);
  --sidebar-accent-foreground: oklch(0.3774 0.0189 260.6754);
  --sidebar-border: oklch(0.8726 0.0059 264.5296);
  --sidebar-ring: oklch(0.6378 0.1247 281.2150);
  --background: oklch(0.9846 0.0017 247.8389);
  --foreground: oklch(0.2840 0.0220 262.4967);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2143 0.0250 266.8233);
  --foreground: oklch(0.9301 0.0075 260.7315);
  --card: oklch(0.2840 0.0220 262.4967);
  --card-foreground: oklch(0.9301 0.0075 260.7315);
  --popover: oklch(0.2840 0.0220 262.4967);
  --popover-foreground: oklch(0.9301 0.0075 260.7315);
  --primary: oklch(0.7223 0.0946 279.6746);
  --primary-foreground: oklch(0.2143 0.0250 266.8233);
  --secondary: oklch(0.3395 0.0210 262.5785);
  --secondary-foreground: oklch(0.8726 0.0059 264.5296);
  --muted: oklch(0.2840 0.0220 262.4967);
  --muted-foreground: oklch(0.7176 0.0111 261.7826);
  --accent: oklch(0.3774 0.0189 260.6754);
  --accent-foreground: oklch(0.8726 0.0059 264.5296);
  --destructive: oklch(0.6322 0.1310 21.4751);
  --border: oklch(0.4507 0.0152 255.5845);
  --input: oklch(0.4507 0.0152 255.5845);
  --ring: oklch(0.7223 0.0946 279.6746);
  --chart-1: oklch(0.7223 0.0946 279.6746);
  --chart-2: oklch(0.6378 0.1247 281.2150);
  --chart-3: oklch(0.5608 0.1433 283.1275);
  --chart-4: oklch(0.5008 0.1358 283.9499);
  --chart-5: oklch(0.4372 0.1108 283.4322);
  --sidebar: oklch(0.2840 0.0220 262.4967);
  --sidebar-foreground: oklch(0.9301 0.0075 260.7315);
  --sidebar-primary: oklch(0.7223 0.0946 279.6746);
  --sidebar-primary-foreground: oklch(0.2143 0.0250 266.8233);
  --sidebar-accent: oklch(0.3774 0.0189 260.6754);
  --sidebar-accent-foreground: oklch(0.8726 0.0059 264.5296);
  --sidebar-border: oklch(0.4507 0.0152 255.5845);
  --sidebar-ring: oklch(0.7223 0.0946 279.6746);
  --destructive-foreground: oklch(0.2143 0.0250 266.8233);
  --radius: 0.5rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-size: 14.5px; 
    line-height: 1.5;
  }

    body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    font-size: 14.5px; 
    line-height: 1.5;
  }
}